/* General styling */
html {
  position: relative;
  height: 100%;
}

/* Welcome modal styling */
.modal-copyright {
  text-align: center;
  border-top: 1px solid #bbb;
  margin-top: 1em;
  padding-top: 1em;
}

.modal-dismiss {
  text-align: right;
}

/* Make the modal cover everything */
.blocker {
  z-index: 6001;
}
